.jumbotron{
  position: fixed;
  z-index:-101;
  height: 100vh;
  width: 100%;
  border-top: 50px;
}

#video-background { 
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

.container {
  height: 100vh;
  width: 100%;
}

.navbar {
  margin-top: 10px;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
