{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for Incident 2018">
    <meta name="author" content="Samyak R Jain, Ananda Rao">

    <title>Incident 2018</title>

    <link rel="shortcut icon" href="{% static 'images/inci-logo.png' %}">

    <!-- Stylesheet -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

    {% block head %}  <!-- head block starts here -->               
                 
    {% endblock %} <!-- head block ends here -->
</head>

  <body>

    <!-- Navbar -->

    <div class="divnav">  
      <nav class="navbar navbar-default bg-info" role="navigation">
        <div class="navbar-header ">
          <!-- <a href="#">Contact Us</a> -->
          <a class="navbar-brand" href="#">Incident '18</a>
          <!-- <a href="#">Sponsors</a> -->
        </div>
      </nav>
    </div>
    
    <!-- Scripts -->


    {% block body %}

    {% endblock %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- <script type="text/javascript">
      (function ($) {
        $(document).ready(function(){
          
        // hide .navbar first
        $(".navbar").hide();
        
        // fade in .navbar
        $(function () {
          $(window).scroll(function () {
                  // set distance user needs to scroll before we fadeIn navbar
            if ($(this).scrollTop() > 100) {
              $('.navbar').fadeIn();
            } else {
              $('.navbar').fadeOut();
            }
          });

        
        });

      });
        }(jQuery));

    </script> -->

    {% block scripts %}

    {% endblock %}

  </body>
</html>