{% extends 'base/base.html' %}
{% load static %}
{% block body_block %}

<div class="gn ai full-height">
      <div class="header-wrapper c valign-wrapper">
        <div class="d jt offset-s2 ci">
          <h1>Incident 2018</h1>
          <span class="dx">NITK Surathkal</span>
          <button class="read-more"><i class="icon-caret-down"></i></button>
        </div>
      </div>
      <div class="laptop-preview-sizer">
        <div class="laptop-preview"></div>
        <div class="image-container et" style="background-image:url('{% static 'images/inci-background.jpg' %}')"></div>
      </div>
    </div>

    <!-- About Us -->
    <div class="v valign-wrapper">
      <div class="dv">
        <div class="c">
          <div class="d iv"><h2 class="section-title">About Us</h2></div>
          <div class="d iv jo kk">
            <h4><i class="icon-light-bulb"></i></h4>
            <p class="ek">This is a cool feature about your product! It really separates you from the crowd.</p>
          </div>
          <div class="d iv jo kk">
            <h4><i class="icon-bolt"></i></h4>
            <p class="ek">This is a cool feature about your product! It really separates you from the crowd.</p>
          </div>
          <div class="d iv jo kk">
            <h4><i class="icon-rocket"></i></h4>
            <p class="ek">This is a cool feature about your product! It really separates you from the crowd.</p>
          </div>
          <div class="d iv jo kk">
            <h4><i class="icon-settings"></i></h4>
            <p class="ek">This is a cool feature about your product! It really separates you from the crowd.</p>
          </div>
          <div class="d iv jo kk">
            <h4><i class="icon-umbrella"></i></h4>
            <p class="ek">This is a cool feature about your product! It really separates you from the crowd.</p>
          </div>
          <div class="d iv jo kk">
            <h4><i class="icon-compass"></i></h4>
            <p class="ek">This is a cool feature about your product! It really separates you from the crowd.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}