{% extends 'base/base.html' %}

{% load static %}

{% block body_block %}
    <div class="v ai l">
      <div class="bz">
        <img src="{% static 'images/psponsors.png' %}" alt="">
      </div>
      <div class="header-wrapper c valign-wrapper">
        <div class="d jt offset-s2 ci">
          <h1>PREVIOUS SPONSORS</h1>
          <span class="dx">And many more!</span>
        </div>
      </div>
    </div>
    <div class="v ai l">
      <div class="bz">
        <img src="" alt="">
      </div>
      <div class="header-wrapper c valign-wrapper">
        <div class="d jt offset-s2 ci">
          <h1>PRESENT SPONSORS</h1>
          <span class="dx">Coming Soon!</span>
        </div>
      </div>
    </div>
{% endblock %}