{% extends 'base/base.html' %}

{% load static %}
{% block body_block %}
    <div class="v ai l">
      <div class="bz">
        <img src="{% static 'images/team.jpg' %}" alt="">
      </div>
      <div class="header-wrapper c valign-wrapper">
        <div class="d jt offset-s2 ci">
          <h1>Team!</h1>
          <span class="dx">Founded in 2015, we strive to be the best at what we do. This is made possible by our amazing team located around the world.</span>
        </div>
      </div>
    </div>

    <div class="v l full-height">
      <div class="c ci">
        <div class="d iv jc offset-m1 cy">

        {% for team in teams %}

          <div class="c">
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">{{ team.name }}</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                {% for teammember in team.teammember_set.all %}
                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="{{ teammember.image.url }}" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">{{teammember.name}}</span>
                    <span class="cx">{{teammember.post}}</span>
                    <span class="cx">{{teammember.email}}</span>
                    <span class="cx">{{teammember.phone_number}}</span>
                  </div>
                </div>

                {% endfor %}
              </div>
            </div>
          </div>

        {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}