{% extends 'base/base.html' %}

{% load static %}
{% block body_block %}
    <div class="v ai l">
      <div class="bz">
        <img src="{% static 'images/team.jpg' %}" alt="">
      </div>
      <div class="header-wrapper c valign-wrapper">
        <div class="d jt offset-s2 ci">
          <h1>Team!</h1>
          <span class="dx">Founded in 2015, we strive to be the best at what we do. This is made possible by our amazing team located around the world.</span>
        </div>
      </div>
    </div>

    <div class="v l full-height">
      <div class="c ci">
        <div class="d iv jc offset-m1 cy">

          <div class="c">
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">Marketing</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Jane Doe</span>
                    <span class="cx">Founder</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">John Chang</span>
                    <span class="cx">Head of Sales</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait3.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Charlotte Smith</span>
                    <span class="cx">Lead Sales</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="c">
            <div class="d iv">
              <div class="eh"></div>
            </div>
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">Engineering</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Jane Doe</span>
                    <span class="cx">Frontend Engineer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">John Chang</span>
                    <span class="cx">Backend Engineer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait3.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Charlotte Smith</span>
                    <span class="cx">Database Engineer</span>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="c">
            <div class="d iv">
              <div class="eh"></div>
            </div>
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">Design</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Jane Doe</span>
                    <span class="cx">Motion Designer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">John Chang</span>
                    <span class="cx">Interaction Designer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait3.jpg?11916905338055449107" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Charlotte Smith</span>
                    <span class="cx">Senior Designer</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}